.App {
    text-align: center;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    margin: 10px;
}

.BlockedProcessChecker{
    width: 260px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: white;
    background: pink;
    padding: 20px;
    border-radius: 10px;
}